/*-------------------------------------------------------------------------------------------------------------------------------*/
    /*//////////////////////////////*/
                /*ENLACES*/ 
    /*//////////////////////////////*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------------------------------------------------------------*/
    /*//////////////////////////////*/
                /*PRELOAD*/ 
    /*//////////////////////////////*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

.hidden {
    overflow: hidden;
}

.preload {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
	
.lds-facebook {   
    display: inline-block;   
    position: relative;   
    width: 80px;   
    height: 80px; 
} 
.lds-facebook div {   
    display: inline-block;   
    position: absolute;   
    left: 8px;   
    width: 16px;   
    background: cyan;   
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; 
} 
.lds-facebook div:nth-child(1) {   
    left: 8px;   
    animation-delay: -0.24s; 
} 
.lds-facebook div:nth-child(2) 
{   left: 32px;   
    animation-delay: -0.12s; 
} 
.lds-facebook div:nth-child(3) {   
    left: 56px;   
    animation-delay: 0; 
} 
@keyframes lds-facebook {   
    0% {     top: 8px;     height: 64px;   }   
    50%, 100% {     top: 24px;     height: 32px;   } 
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------------------------------------------------------------*/
    /*//////////////////////////////*/
                /*FONDO*/ 
    /*//////////////////////////////*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    margin: 0;
    box-sizing: border-box;
}


@keyframes zoomInOut {
    0%, 100% {
      transform: scale( 1 );
    }
  
    50% {
      transform: scale( 1.1 );
    }
  }

.fondo{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url( '../img/Universe_blue_galaxy_nebula_2017_4K_HD_1366x768.jpg' );
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -145;
    animation: zoomInOut 20s ease infinite;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------------------------------------------------------------*/
    /*//////////////////////////////*/
                /*PARTICULAS*/ 
    /*//////////////////////////////*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------------------------------------------------------------*/
    /*//////////////////////////////*/
                /*NAVBAR*/ 
    /*//////////////////////////////*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

.estilo2{
    display: none;
}
.envase{
    max-width: auto;
    margin: auto;
}
.fila{
    display: flex;
    flex-wrap: wrap;
}
header{
    position: absolute;
    background-color: transparent;
    right: 0px;
    left:0px;
    z-index: 10;
}
header .fila{
    justify-content: space-between;
    align-items: center;
}
header .logo img{
    margin-right: 20px;
    width: 80px;
}
header .nabvar{
    display: inline-block;
}
header .nabvar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .nabvar ul li{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    color: cyan;
    margin-right: 15px;
    display: inline-block;
    margin-left: 20px;
}
header .nabvar ul li i{
    margin-right: 5px;
}
header .nabvar ul li .ham-burger{
    cursor: pointer;
}
header .nabvar ul li #ham-burger{
    display: block;
}
header .nabvar ul li .ham-burger1{
    cursor: pointer;
}
header .nabvar ul li #ham-burger1{
    display: none;
}

header .nabvar ul li a{
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s;
}
header .nabvar ul li a:hover{
    color: cyan;
}
header .nabvar ul li .activo{
    color: cyan;
}




header #nabvar{
    width: 300px;
    background-color: rgba(7, 51, 51, 0.548);
    display: none;
}
header .nabvar1 ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
header .nabvar1 ul li{
    margin-top: 20px;
    font-size: 40px;
    font-weight: 900;
    text-decoration: none;
    color: cyan;
    margin-right: 12px;
    display: inline-block;
    margin-left: 20px;
}
header .nabvar1 ul li i{
    margin-right: 20px;
    cursor: pointer;
}

header .nabvar1 ul li a{
    font-size: 40px;
    font-weight: 900;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s;
}
header .nabvar1 ul li a:hover{
    color: cyan;
}
header .nabvar1 ul li .activo{
    color: cyan;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------------------------------------------------------------*/
    /*//////////////////////////////*/
            /*LOGO TITULO*/ 
    /*//////////////////////////////*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

.centro{
    padding-top: 4%;
}
.centro .titulo{
    flex:100%;
    max-width: 100%;
}
.titulo h1{
    text-align: center;
}
.titulo img{
    width: 300px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 0px cyan;
}
.titulo h1 span{
    font-size: 110pt;
    font-weight: bold;
    position: relative;
    font-family: 'Lobster', cursive;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.titulo h1 span::before{
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(20px);
}
.titulo h1 span::after{
    content: var(--l);
    position: absolute;
    top: 80%;
    left: 0;
    filter: blur(30px);
    transform: rotateX(50deg);
}
.titulo h1 span:hover{
    filter: contrast(250%);
}
.titulo h1 span:nth-child(1){
    color: #ff00c3;
}
.titulo h1 span:nth-child(2){
    color: #00c8ff;
}
.titulo h1 span:nth-child(3){
    color: #ff00c3;
    
}
.titulo h1 span:nth-child(4){
    color: #00c8ff;
    
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------------------------------------------------------------*/
    /*//////////////////////////////*/
            /*LOGO TITULO*/ 
    /*//////////////////////////////*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

.centro2{
    padding-top: 4%;
}
.centro2 .titulo2{
    flex:100%;
    max-width: 100%;
}
.titulo2 h1{
    text-align: center;
}
.titulo2 img{
    width: 300px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 0px cyan;
}
.titulo2 h1 span{
    font-size: 110pt;
    font-weight: bold;
    position: relative;
    font-family: 'Lobster', cursive;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.titulo2 h1 span::before{
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(20px);
}
.titulo2 h1 span::after{
    content: var(--l);
    position: absolute;
    top: 80%;
    left: 0;
    filter: blur(30px);
    transform: rotateX(50deg);
}
.titulo2 h1 span:hover{
    filter: contrast(250%);
}
.titulo2 h1 span:nth-child(1){
    color: #ff00c3;
}
.titulo2 h1 span:nth-child(2){
    color: #00c8ff;
}
.titulo2 h1 span:nth-child(3){
    color: #ff00c3;
    
}
.titulo2 h1 span:nth-child(4){
    color: #00c8ff;
    
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------------------------------------*/
    /*//////////////////////////////*/
              /*CONTACTOS*/ 
    /*//////////////////////////////*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

.contactos{
    position:static;
    display: block;
}
.contactos a .fab{   
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; 
    border: 2px solid cyan;
    border-radius: 50%;
    padding: 10px;
    background-color: transparent;
    transition: all ease 0.5s;
    text-decoration: none;
    color: cyan;
    font-size: 30px;
    transition: all ease 0.5s;
}
.contactos a .fa-instagram{
    padding-right: 12px;
    padding-left: 12px;
}
.contactos a .fab:hover{
    color: black;
    background-color: cyan;
    border: 2px solid transparent;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------------------------------------------------------------*/
    /*//////////////////////////////*/
                /*FOOTER*/ 
    /*//////////////////////////////*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

.footer1 .container{
    margin-top: 30px;
    background-color: #2c2c2c;
    flex:100%;
    max-width: 100%;
}
.footer1 .container1{
    margin-top: 0px;
    background-color: #2c2c2c;
    flex:100%;
    max-width: 100%;
}
.footer1 .container2{
    margin-top: 1580px;
    background-color: #2c2c2c;
    flex:100%;
    max-width: 100%;
}
.container p{
    padding: 5px;
    text-align: center;
}
.container p{
    font-size: 15px;
    color: #ffffff;
}
.container a{
    text-decoration: none;
    color: #ffffff;
}






.footer2 .container{
    margin-top: 30px;
    background-color: #2c2c2c;
    flex:100%;
    max-width: 100%;
}
.footer2 .container1{
    margin-top: 0px;
    background-color: #2c2c2c;
    flex:100%;
    max-width: 100%;
}
.footer2 .container2{
    margin-top: 1580px;
    background-color: #2c2c2c;
    flex:100%;
    max-width: 100%;
}
.container p{
    padding: 5px;
    text-align: center;
}
.container p{
    font-size: 15px;
    color: #ffffff;
}
.container a{
    text-decoration: none;
    color: #ffffff;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------------------------------------------------------------*/
    /*//////////////////////////////*/
              /*BOTON NEON*/ 
    /*//////////////////////////////*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

.derecha .boton{
    flex:100%;
    max-width: 100%;
}
.boton{
    text-align: left;
}
.btn-neon{
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
    padding: 15px 30px;
    color: cyan;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    color: black;
    background-color: cyan;
    box-shadow: 0 0 10px cyan, 0 0 40px cyan, 0 0 80px cyan;
    transition-delay: 0.5s;
}
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,cyan);
}
.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,cyan);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,cyan);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,cyan);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------------------------------------------------------------*/
    /*//////////////////////////////*/
                /*GALERIA*/ 
    /*//////////////////////////////*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

.container-grid{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 140px;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 350px;
    grid-gap: 20px;
}
.img{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-1{
    grid-row-start: span 2;
}
.img-4{
    grid-column-start: span 2;
}
.img-6{
    grid-row-start: span 2;
}
.img-8{
    grid-row-start: span 2;
}
.img-9{
    grid-row-start: span 2;
}
.img-11{
    grid-column-start: span 2;
}
.img:hover{
    filter: grayscale(50%);
    cursor: pointer;
    transition: filter .5s;
}
.container-img{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease-in;
}
.move{
    transform: translateX(0);
}
.img-show{
    height: 80%;
    transform: scale(0);
    display: block;
    object-fit: cover;
    transition: transform .2s .4s;
}
.show{
    transform: scale(1);
}
.copy{
    position: fixed;
    color: #fff;
    bottom: 30px;
}
.fas.fa-times{
    position: absolute;
    color: #fff;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------------------------------------------------------------*/
    /*//////////////////////////////*/
            /*GALERIAS REDES*/ 
    /*//////////////////////////////*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

.imga{
    margin-top: 20px;
    border: solid 3px cyan;
    margin-bottom: 20px;
    width: 300px;
    transition: all 300ms;
}
.imga:hover{
    transform: scale(1.1);
    transition: all 300ms;
}
#contenedor{
    padding: 10px;
    position: absolute;
    border: solid 5px cyan;
    width: 330px;
    height: 530px;
    margin:  30px auto;
    margin-top: 100px;
    margin-left: 75%;
    margin-right: 100px;
    overflow: hidden;
}
#contenedor ul{
    padding: 0;
    list-style: none;
    width: 3000px;
    height: 530px;
    display: block;
    animation: slider 15s infinite linear;
}
#contenedor ul:hover{
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes slider{
    0% { margin-top: 0px; }
    20% { margin-bottom: 0px; }

    25% { margin-top: -700px; }
    45% { margin-bottom: -700px; }

    50% { margin-top: -1400px; }
    70% { margin-bottom: -1400px; }

    75% { margin-top: -2000px; }
    100% { margin-bottom: -2000px; }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------------------------------------------------------------*/
    /*//////////////////////////////*/
                /*SOBRE MI*/ 
    /*//////////////////////////////*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

.sobre-mi{
    padding-top: 140px;
    display: flex;
    flex-wrap: wrap;
}
.columna{
    margin: 160px;
    margin-top: 0px;
    margin-bottom: 70px;
    flex: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    border-radius: 10%;
    padding: 40px;
    box-shadow: 0 0 10px cyan, 0 0 40px cyan, 0 0 80px cyan;
}
.columna .perfil{
    text-align: center;
    flex: 100%;
    max-width: 100%;
    padding: 20px;
}
.perfil img{
    box-shadow: 0 0 10px #222122, 0 0 40px #222122, 0 0 80px #222122;
    width: 350px;
    border-radius: 10%;
}
.perfil p{
    padding: 20px;
    font-size: 33.5px;
    margin: auto;
    font-family: 'Lobster', cursive;
    color: #ffffff;
    text-shadow: -2px -2px 1px #000;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------------------------------------------------------------*/
    /*//////////////////////////////*/
              /*RESPONSIVE*/ 
    /*//////////////////////////////*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 750px) {
    .estilo1{
        display: none;
    }
    .estilo2{
        display: block;
    }
    header .nabvar ul li{
        font-size: 20px;
    }
    header .nabvar ul li a{
        font-size: 20px;
    }
    .contactos a .fab{
        font-size: 14px;
    }
    .centro{
        padding-top: 12%;
    }
    .titulo img{
        width: 250px;
    }
    .titulo h1 span{
        font-size: 80pt;
    }
    .btn-neon{
        margin-left: 20px;
        margin-top: 100px;
        font-size: 20px;
    }
    #contenedor{
        display: none;
    }
}

@media (max-width: 700px) {
    
}

@media (max-width: 650px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 550px) {
    
}

@media (max-width: 500px) {
    
}

@media (max-width: 475px) {
    
}

@media (max-width: 450px) {
    
}

@media (max-width: 425px) {
    header .nabvar ul li{
        margin-left: 8px;
        margin-right: 5px;
        font-size: 30px;
    }
    header #nabvar{
        width: 250px;
    }
    header .nabvar ul li a{
        font-size: 30px;
    }
    header .nabvar1 ul li{
        font-size: 25px;
    }
    header .nabvar1 ul li a{
        font-size: 25px;
    }
    .contactos a .fab{
        padding: 7px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 25px;
    }
    .contactos a .fa-instagram{
        padding-right: 8px;
        padding-left: 8px;
    }
    .centro{
        padding-top: 35%;
    }
    .titulo img{
        width: 250px;
    }
    .titulo h1 span{
        font-size: 80pt;
    }
    .btn-neon{
        margin-left: 10px;
        margin-top: 140px;
        font-size: 15px;
    }
    .boton{
        text-align: center;
    }
    .container p{
        font-size: 10px;
    }
    .sobre-mi{
        padding-top: 80px;
    }
    .columna{
        padding-left: 5px;
        padding-right: 5px;
        margin: 30px;
        box-shadow: 0 0 5px cyan, 0 0 20px cyan, 0 0 40px cyan;
        border-radius: 40px;
    }
    .perfil img{
        width: 250px;
    }
    .perfil p{
        padding: 5px;
        font-size: 20px;
    }
    .centro2{
        padding-top: 10%;
    }
    .titulo2 h1 span{
        font-size: 50pt;
    }
    .container-grid{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 40px;
        grid-auto-rows: 120px;
        grid-gap: 10px;
    }
    .img{
        border-radius: 10px;
    }
    .img-show{
        height: 40%;
    }
    .footer1{
        display: none;
    }
    #contenedor{
        display: none;
    }
    
}

@media (max-width: 400px) {
    
}

@media (max-width: 375px) {
    
}

@media (max-width: 350px) {
    
}

@media (max-width: 325px) {
    
}

@media (max-width: 300px) {
    
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/